.benefits {
    display: flex;
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;
}

.benefits__item::before {
    content: url("../img/pictures/Combined_shape.png");
    position: absolute;
    top: 50px;
    right: 0;
    transform: translateX(50%);
}

.benefits__item:first-child {
    margin-left: 0;
    padding-left: 0;
}

.benefits__item:last-child {
    margin-right: 0;
    padding-right: 0;
}

.benefits__item:last-child::before {
    display: none;
}