.hamburger {
    position: fixed;
    top: 3%;
    right: 3%;
    width: 25px;
    height: 24px;
    cursor: pointer;
    transition: all .4s;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    @include tablets {
        display: inline-flex;
    }
}

.hamburger__plank {
    display: block;
    background: #292929;
    height: 4px;
    border-radius: 10px;
}