.reviews-section {
    position: relative;
    &::before {
        content: url("../img/pictures/Ellipse_grey.png");
        position: absolute;
        bottom: rem(-19px);
        left: 24%;
    }
}