.reviews-section {
    position: relative;
    &::before {
        content: url("../img/pictures/Ellipse_grey.png");
        position: absolute;
        bottom: -19px;
        left: 24%;
    }
}