.section {
    // height: 100vh;
    height: 100%;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-order {
        background: url("../img/pictures/order-bacground.png") center center no-repeat;
    }
    &--font-color--white {
        color: #fff;
        .section__title {
            color: inherit;
        }
    }
}

.section__title {
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(50px);
    text-align: center;
    text-transform: uppercase;
    color: #292929;
}