.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.social__item {
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0;
}

.social {
    display: flex;
    justify-content: space-between;
}

.social__item--telegram .social__link {
    background: url("../img/icon_sprites.png") -122px -66px;
}

.social__item--telegram .social__link:hover {
    background: url("../img/icon_sprites.png") -122px -10px;
}

.social__item--vk .social__link {
    background: url("../img/icon_sprites.png") -66px -122px;
}

.social__item--vk .social__link:hover {
    background: url("../img/icon_sprites.png") -10px -122px;
}

.social__item--fb .social__link {
    background: url("../img/icon_sprites.png") -66px -10px;
}

.social__item--fb .social__link:hover {
    background: url("../img/icon_sprites.png") -10px -10px;
}

.social__item--insta .social__link {
    background: url("../img/icon_sprites.png") -66px -66px;
}

.social__item--insta .social__link:hover {
    background: url("../img/icon_sprites.png") -10px -66px;
}